@import "../variable.modules.scss";

footer {
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;

   i, li ,h1,h2,h3,p,label{
    color: $white;
    transition: color 400ms;
  }
  
  
  

  // a:visited {
  //   color: $white;
  // }

  footer {
    color: $white;
  }
}

.light {
  background-color: $white;
  color: $dark;
  transition: all 400ms;
}


